<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>bs-input Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="bs-input.html">
  <style type="text/css">
  body {
    background: #F1F1F1;
    padding: 35px;
  }
  h2 {
    text-align: center;
  }
  p {
    font-weight: bold;
    font-style: italic;
  }
  code
  {
  	border:1px solid #787878;
  	display: block;
  	background: #AC7272;
  	color: #fff;
  	border-radius:3px;
  	padding: 18px;

  }
  </style>
</head>

<body unresolved>
  <h2>&ltbs-input></h2> <hr/>
  <p>Input text</p>
  <code>
  &lt;bs-input type="text" placeholder="Some Text">&lt;/bs-input>
  </code><br/><br/>
  <bs-input type="text" placeholder="Some Text"></bs-input>
  
  <p>Input checkbox</p>
  <code>
  &lt;bs-input type="checkbox">&lt;/bs-input>
  </code><br/><br/>
  <bs-input type="checkbox"></bs-input> 

  <p>Input date</p>
  <code>
  &lt;bs-input type="date">&lt;/bs-input>
  </code><br/><br/>
  <bs-input type="date"></bs-input>

  <p>Input color</p>
  <code>
  &lt;bs-input type="color">&lt;/bs-input>
  </code><br/><br/>
  <bs-input type="color"></bs-input>

  <p>Input radio</p>
  <code>
  &lt;bs-input type="radio">&lt;/bs-input>
  </code><br/><br/>
  <bs-input type="radio"></bs-input>

  <p>Input range</p>
  <code>
  &lt;bs-input type="range">&lt;/bs-input>
  </code><br/><br/>
  <bs-input type="range"></bs-input>

</body>

</html>
